link(rel="stylesheet" href="/styles/footer.scss")

footer.footer
  .footer__links
    a.footer__link(href="//www.linkedin.com/in/meksharma") Linkdin
    a.footer__link(href="//www.instagram.com/art_cheriemisfits/") Instagram
    a.footer__link(href="//www.medium.com/@meksharma") Medium
