link(rel="stylesheet" href="/styles/footer.scss")

footer.footer
  .footer__links
    a.footer__link(href="//www.linkdn.com") Linkdn
    a.footer__link(href="//www.instagram.com") Instagram
    a.footer__link(href="//www.medium.com") Medium
