include ../mixins/link.pug

header.header
  .header__logo
    a(href="/")
      img(src="./logo.svg")
  .header__links-wrapper
    .header__links
      +headerLink('work', '/#work-section', 'Work', true)
      +headerLink('resume', '/resume.pdf', 'Resume')
      +headerLink('about', '/about.pug', 'About')


