- var projects = []
-
  projects.push({
    company: 'SAP',
    title: 'Personal Data Manager',
    subtitle:'Iteraction Design | Jun 2017 - Jan 2018',
    description: 'A suite enterprise cloud solution by SAP for the General Data Protection Regulation (GDPR). <br /> <br /> Worked with the Product and Development team in designing applications (Prototyping, User Research, Usecase Mapping) that will cater to GDPR compliance from the point of views of Data Controller and the end users - The European Union citizens.',
    projectUrl: '/case-study/personal-data-manager',
    photoUrl: '/assets/personal-data-manager.png'
  })

  projects.push({
    company: 'SAP',
    title: 'Project Staffing & Analysis',
    subtitle:'Interaction Design  | Feb 2017 -  Jun 2017 ',
    description: 'A staffing application that enables the Project Manager to evaluate the staffing proposal from the Resource Manager and staff employees to the planned resources. <br /> <br />As a part of the project, I was involved with the Product and Development team in designing application (Prototyping, User Research).',
    projectUrl: '/case-study/project-staffing-analysis',
    photoUrl: '/assets/project-staffing-analysis.png'
  })

  projects.push({
    company: 'SAP',
    title: 'Code Unnati',
    subtitle:'Interaction Design  | Aug 2017 - Jan 2018',
    description: 'CSR Project for SAP which aims to impart digital literacy, drive employment-led software skills to local small town graduates. <br /> <br />As a part of the project, I was involved with the SAP Partners in designing the applications. (System Design, User Research, Prototyping, User Testing).',
    projectUrl: '/case-study/code-unnati',
    photoUrl: '/assets/code-unnati.png'
  })
