include ../mixins/work-snippet
include ./home-data

link(rel="stylesheet" href="/styles/home.scss")
main.main
  section#intro.intro
    h3.intro__name Mehak Sharma

    p.intro__description--interaction
      | Interaction designer with industry experience in Prototyping,  User Research, Usability Testing , Design Thinking.
    p.intro__description--product
      | Product designer with industry experience in Prototyping, Trends, Communication Design and Illustration.

    .intro__links
      a.intro__link(href="#") Get in touch
      a.intro__link(href="#") View Work

    hr.intro__divider
    a.intro__scroll(href="#work-section")

  link(rel="stylesheet" href="/styles/work.scss")
  section#work-section.work
    each project in projects
      +workSnippet( project.company, project.title, project.subtitle, project.description, project.projectUrl, project.photoUrl)
script(type="text/javascript" defer async src="/js/index.js")


