@import 'constants.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $footerLink;
    margin-right: 3rem;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
    }
  }

  &__icon {
    background-color: $footerLink;
    height: 1.5rem;
    width: 1.5rem;
    mask-size: cover;
    display: inline-block;

    &:hover {
      background-color: $activeFooterLink;
    }

    &.instagram {
      mask-image: url('/assets/instagram.svg')
    }

    &.medium {
      mask-image: url('/assets/medium.svg')
    }

    &.linkedin {
      mask-image: url('/assets/linkedin.svg')
    }
  }
}
