@import 'constants.scss';

.header {
  padding: 1rem 0;
  display: flex;
}

.header__logo {
  width: $logo;
  height: $logo;
}

.header__links-wrapper {
  flex-grow: 1;
}

.header__links {
  display: flex;
  justify-content: center;
}

.header__link {
  text-decoration: none;
  display: inline-block;
  width: 10%;
  text-align: center;
  color: $headerLink;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
    color: $activeHeaderLink;
  }

  /* Variants */
  &--active {
    @extend .header__link;
    color: $activeLink;
  }
}

