mixin link(id, href, text)
  a(id=id href=href title=text class=attributes.class)= text

mixin headerLink(id, href, text, isActive)
  if isActive
    +link(id, href, text)(class="header__link--active")
  else
    +link(id, href, text)(class="header__link")

