doctype html
html
  head
    link(rel="stylesheet" href="./styles/index.scss")
    link(rel="shortcut icon" type="image/png" href="./favicon.png")
    title Mehak's Portfolio
  body
    include includes/header.pug
    main About page
