doctype html
html
  head
    link(rel="stylesheet" href="/styles/index.scss")
    link(rel="shortcut icon" type="image/svg" href="./logo.svg")
    title Mehak's Portfolio
  body
    include includes/header.pug
    h1 Hello World!
    p Welcome to my Portfolio
    script(type="text/javascript" defer async src="/js/index.js")

